@model GradProject3.Models.Good

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Good</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpireDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Images)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Images)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdoffersNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdoffersNavigation.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdtgNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdtgNavigation.Type)
        </dd>

        <dt class="col-sm-2">
            Upload
        </dt>
        <dd class="col-sm-10">
            <img src=@("~/Image/"+Model.Images) asp-append-version="true" style=" height:200px; width:200px;" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
